.cart-button {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    transition-duration: 0.7s;
}
.cart-button:hover {
    transform: scale(1.1);
}
.cart-button .cart-button_aside {
    width: 200px;
    background-color: #eee;
    min-height: 400px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
.cart-button .cart-button_aside--open {
    display: block;
}