html * {
    margin: 0;
    padding: 0;
}
.body *{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.body {
    padding: 0;
    margin: 0;
}
.wrap-home {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}