body {
    margin: 0;
}

.wrap-auth {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: aqua;
}
.auth {
    width: 70%;
    max-width: 800px;
    min-width: 350px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(
        250px,
        1fr
    ));
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
}

    .auth .auth_layout-column {
        min-width: 200px;
    }
        .auth .auth_layout-column img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    .auth .auth_layout-column-form {
        display: grid;
        place-items: center;
        background-color: #fffd;
    }
    .auth .auth_layout-column-form {
    }
        .auth_fieldset {
            display: grid;
            width: 100%;
            box-sizing: border-box;
        }
        .auth_fieldset span {
            font-size: 0.8em;
        }
        .auth .auth_button {
            width: 70%;
            background-color: #17f;
            color: #ede;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 2px black;
            transition-duration: 0.8s;
        }
        .auth .auth_button--enable:hover {

            transform: scale(1.1);
        }
        .auth .auth_button--disabled {
            opacity: 0.5;
        }
        .auth_layout-column-form form {
            display: grid;
            justify-items: center;
            align-items: stretch;
            gap: 0.5em;

        }
        .auth_form_title {
            text-align: center;
        }
        .auth_form_text-field {
            border: none;
            border-radius: 5px;
            padding: 0.3em;
            color: #666;
            background-color: #fff1;
        }

